{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">Suivi de la commande</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container"  style="margin-top:60px">

        <div class="row">
            <div class="col-xs-6 col-md-3 text-center">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <div class="btn-group btn-lg">
                        <button type="button" class="btn btn-danger" id="moinsB" onclick="minus()">-</button>
                        <button type="button" class="btn btn-success" id="plusB" onclick="plus()">+</button>
                    </div>
                    <button type="button" class="btn btn-primary">BIERE 1664 <span class="badge"><input value="0" id="count"></span></button>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 text-center">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <div class="btn-group btn-lg">
                        <button type="button" class="btn btn-danger" id="moins" onclick="minus()">-</button>
                        <button type="button" class="btn btn-success" id="plus" onclick="plus()">+</button>
                    </div>
                    <button type="button" class="btn btn-primary">COCA-COLA <span class="badge"><input value="0" id="count"></span></button>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 text-center">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-danger">-</button>
                        <button type="button" class="btn btn-success">+</button>
                    </div>
                    <p align="center">PERRIER</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 text-center">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-danger">-</button>
                        <button type="button" class="btn btn-success">+</button>
                    </div>
                    <p align="center">JUS D'ORANGE</p>
                </a>
            </div>
        </div><!--row-->

    </div>

<script>
    var count = 0;
    var countEl = document.getElementById("count");
    function plus(){
        count++;
        countEl.value = count;
    }
    function minus(){
      if (count > 0) {
        count--;
        countEl.value = count;
      }
    }
</script>
</body>
</html>