<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'dist/js/jQuery.js' %}"></script>
    <script src="{% static 'dist/js/npm.js' %}"></script>

    <meta charset="UTF-8">
    <title>{% block title %}Page {{ user }}{% endblock %}</title>
</head>
<body>


    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <div class="btn-group">
                        <button type="button" class="btn btn-Danger">-</button>
                        <button type="button" class="btn btn-succes">+</button>
                    </div>
                    <p align="center">toto</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <p align="center">toto</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <p align="center">toto</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" title="LUDO">
                    <img src="{% static 'images/dodo.jpg' %}" alt="Nature">
                    <p align="center">toto</p>
                </a>
            </div>
        </div><!--row-->

    <div>

</body>
</html>